nav>ul>li {
    display: inline;
    margin-right: 15px;
}

nav li>a {
    text-decoration: none;
}

footer {
    text-align: center;
}

/* form style */
label {
    display: block;
    margin-bottom: 8px;
}