body {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/b/b6/Image_created_with_a_mobile_phone.png/250px-Image_created_with_a_mobile_phone.png");
    /* background-repeat: no-repeat; */
    background-repeat: repeat-y;
    /* background-size: cover; */
    /* background-size: contain; */
    /* background-position: center; */
    /* background-size: 300px; */

}

.mylist {
    background-color: aqua;
    /* display: inline; */
}